/* Add this media query in your CSS file */
@media (max-width: 767px) {
    div {
      width: 100vw;
    }
  }

  @media (min-width: 768px) {
    .content {
      font-size: 18px;
      padding: 30px;
    }
  }

  /* Apply different styles for large screens */
  @media (min-width: 1200px) {
    .content {
      font-size: 20px;
      padding: 40px;
    }
  }

   /* Apply different styles for iPhone 5 */
   @media (max-width: 320px) {
    .content {
      font-size: 14px;
      padding: 10px;
    }
  }

  @keyframes changeColors {
    0% {
      background-color: #3a963a;
    }
    10% {
      background-color: #617709;
    }
    50% {
      background-color: #147709;
    }
    100% {
      background-color: #10940e;
    }
  }

  @media (min-width:1700px) {
    main .container {
      max-width: 100%;
      padding: 0 150px;
    }
  }

  .animate-colors {
    animation-name: changeColors;
    animation-duration: 2s; /* duration of the animation */
    animation-timing-function: ease-in-out; /* timing function for the animation */
    animation-iteration-count: infinite; /* number of times the animation repeats, set to "infinite" for continuous looping */
  }

  .border-container {
    border: 1px solid #ccc;
    padding: 10px;
  }

  .slider-container {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
  }

  .slider-item {
    scroll-snap-align: center;
    flex: 0 0 auto;
    margin-right: 10px;
  }

  .slider-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .circle-images-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .circle-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
  }

  .circle-img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
  }


  .buy-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
  }

  .buy-button.scroll {
    position: absolute;
  }

